@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@700&display=swap');

body {
    background-color: #1e2124 !important;
}

.btn.btn-primary {
    margin-top: 15px;
    min-width: 250px;
    max-width: 350px;
    width: 70vw;
    display: flex;
    background-color: #7289da;
    border: 1px solid #7289da;
    height: 60px;
}

.btn.btn-primary:hover {
    border: 1px solid white !important;
    background-color: #7289da !important;

    animation: spinner 100ms infinite linear;
}

.btn.btn-success:hover {
    border: 1px solid white !important;
    background-color: red !important;

    animation: spinner 100ms infinite linear;
}

.btn.btn-primary span {
    color: white;
    align-self: center;
    flex: 1;
    font-size: 18px;
    font-weight: 600;
}

.header-logo {
    width: 200px;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
        scale: 100%;
    }
    to {
        transform: rotate(360deg);
        scale: 200%;
    }
}